## Importing all the Libraries required to perform the Regression Analysis.

In [ ]:
# importing various libraries.
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date
from datetime import timedelta

In [ ]:
# Importing the EDA libraries.
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

In [ ]:
from numpy import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.linear_model import Lasso, LassoCV
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.linear_model import ElasticNet, ElasticNetCV
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

## Mounting the Google Drive on the Google Colaboratory:

In [ ]:
# Mounting the Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Reading the data and Creating DataFrame to store the Data:

In [ ]:
Rossmann_df_1=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PROJECT/Project 2 (Regression)/Data file/Rossmann Stores Data.csv')

In [ ]:
Store_df_1=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PROJECT/Project 2 (Regression)/Data file/store.csv')

## Creating the copies of the DataFrame to avoid any permanent change in the Original Data.

In [ ]:
Rossmann_df= Rossmann_df_1.copy()
Store_df= Store_df_1.copy()

## Sales_df Data Inspection:

In [ ]:
# First look
Store_df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [14]:
# Checking some Sample Records.
Store_df.sample(10)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
646,647,a,c,7420.0,4.0,2013.0,0,NaN,NaN,NaN
115,116,a,a,680.0,4.0,2013.0,0,NaN,NaN,NaN
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
683,684,d,c,680.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
457,458,c,a,3390.0,NaN,NaN,0,NaN,NaN,NaN
167,168,a,a,12540.0,NaN,NaN,0,NaN,NaN,NaN
158,159,d,a,8530.0,3.0,2013.0,0,NaN,NaN,NaN
163,164,a,a,1160.0,9.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
365,366,d,c,6470.0,12.0,2004.0,0,NaN,NaN,NaN
705,706,d,a,7830.0,9.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"

In [ ]:
# Checking the shape of Store_df
Store_df.shape

(1115, 10)

In [ ]:
# Checking various Columns of Store_df
Store_df.columns.tolist()

['Store',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'PromoInterval']

In [ ]:
Store_df.describe(include= 'all')

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115.00000,1115,1115,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000,571
unique,NaN,4,3,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,a,a,NaN,NaN,NaN,NaN,NaN,NaN,"Jan,Apr,Jul,Oct"
freq,NaN,602,593,NaN,NaN,NaN,NaN,NaN,NaN,335
mean,558.00000,NaN,NaN,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573,NaN
std,322.01708,NaN,NaN,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935,NaN
min,1.00000,NaN,NaN,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000,NaN
25%,279.50000,NaN,NaN,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000,NaN
50%,558.00000,NaN,NaN,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000,NaN
75%,836.50000,NaN,NaN,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000,NaN
max,1115.00000,NaN,NaN,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000,NaN

In [ ]:
Store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

## Handling null, missing and Duplicate values in the Data.

In [15]:
Store_df[Store_df.duplicated()]

Empty DataFrame
Columns: [Store, StoreType, Assortment, CompetitionDistance, CompetitionOpenSinceMonth, CompetitionOpenSinceYear, Promo2, Promo2SinceWeek, Promo2SinceYear, PromoInterval]
Index: []

In [ ]:
# So there is no duplicate rows in the Data.

In [16]:
#  Total Null values count.
Store_df.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

### As there are lots of 'NaN values' in 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval' Columns, we will drop those columns.

In [17]:
Cols_to_drop=['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']

In [20]:
#  Droping the unrequired columns having more null values.
Store_df.drop(Cols_to_drop,inplace=True, axis=1)

In [21]:
Store_df.sample(2)

     Store StoreType Assortment  CompetitionDistance  Promo2
314    315         a          c              38710.0       0
532    533         a          c               5950.0       0

### As CompetitionDistance column contains less Null Values, we will not remove that column, instead we will be replacing those null values with median value.